/* variables */
:root {
    --color_primary: #FBBD5C;
    --color_secondary: #48665E;
    --color_tertiary: #971C3C;
    --color_background_light: #EEEBE7;
    --color_background_dark: #4F4F4F;
    --color_background_dark--opacity50: hsla(0, 0%, 30%, 0.50);
}

/* BASE */
* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

/* HEADER */
header h1 {
    height: 10rem;
    background-color: var(--color_background_dark);
    color: var(--color_background_light);
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1rem;
}

h1 strong {
    font-weight: 900;
    letter-spacing: 0.4rem;
}

/* MAIN */
main {
    background-color: var(--color_background_light);
    padding: 0 1rem;
}

h3 {
    font-family: 'Oswald';
    font-weight: 900;
    text-transform: uppercase;
    padding: 1rem 0;
}

/* Section 1 - about */
.about {}

/* Section 2 - projects */
.show {
    padding: 1rem 0;
}

.project {
    display: flex;
    flex-direction: row;
}

.project__card {
    border: .1rem solid var(--color_background_dark);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    position: relative;
    margin: 1rem 0;
}

.project__card + .project__card {
    margin-left: 1rem;
}

.project__card h4,
.project__card img,
.project__card figcaption {
    position: absolute;
}

.project__card h4 {
    font-family: 'Oswald';
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color_background_light);

    padding: 1rem 1rem;

    width: 100%;
    background-color: var(--color_background_dark--opacity50);
    text-align: center;

    z-index: 1;
}

.project__card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project__card figcaption {
    width: 100%;
    background-color: var(--color_background_dark--opacity50);
    bottom: 0;
    text-align: center;
}

.project__card svg {
    width: 1.5rem;
    margin: .5rem 1rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.project__card svg:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: all 0.5s ease-out;
}

#project2:hover {
    border: .1rem solid var(--color_primary);
}

#project2:hover > h4,
#project2:hover > figcaption {
    letter-spacing: 0.1rem;
    background-color: var(--color_primary);
    color: var(--color_background_dark);
    transition: all 0.5s ease-out;
}

#project3:hover {
    border: .1rem solid var(--color_tertiary);
}

#project3:hover > h4,
#project3:hover > figcaption {
    letter-spacing: 0.1rem;
    background-color: var(--color_tertiary);
    transition: all 0.5s ease-out;
}


/* FOOTER */
footer {
    height: 10rem;
    background-color: var(--color_background_dark);
}
