/*
red: #aa1418
beige: #e9e0d7
Oswald Bold
Open Sans Condensed Light
*/
/*page css*/
body {
    background-color: #e9e0d7;
    color: #aa1418;
}

h1 {
    font-family: "Oswald Bold", Arial, Verdana, sans-serif;
    background-color: black;
    color: #aa1418;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 1em;
    padding-left: 5px;
    margin-left: 5px;
}

.h2black {
    font-family: "Oswald Bold", Arial, Verdana, sans-serif;
    background-color: black;
    color: #aa1418;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1em;
    padding-left: 5px;
}

.h2red {
    font-family: "Oswald Bold", Arial, Verdana, sans-serif;
    background-color: #aa1418;
    color: black;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1em;
    padding-left: 5px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    font-family: "Oswald Bold", Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #aa1418;
    font-weight: bold;
}

p {
    font-family: "Open Sans Regular", Arial, Verdana, sans-serif;
    color: #aa1418;
    padding: 5px;
    text-align: justify;
}

.containers {
    width: auto;
    height: auto;
    border: 10px solid black;
    padding: 5px 5px 1px 5px;
    margin-left: 5px;
}

img {
    max-width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.article1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section1 {
    border: 10px solid #aa1418;
    padding: 5px;
    margin: 5px;
    flex-grow: 2;
    max-width: 50%;
}

.line {
    background-color: black;
    width: 50px;
    margin-right: 5px;
}

aside img {
    border: 10px solid #aa1418;
    padding: 5px;
    width: 50%;
    margin: 25% 25% 25% 25%;
}

.section2 {
    border: 10px solid black;
    padding: 5px;
    margin: 0px 5px 5px 5px;
}

footer {
    font-family: "Oswald Bold", Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin: 20px;
}

/*modif pour les petites résolutions */
@media screen and (max-width: 800px)
{
    h1 {
        margin: auto;
    }
    ul {
        display: flex;
        flex-direction: column;
    }

    .containers {
        margin: auto;
    }

    .article1 {
        flex-direction: column;
    }

    .section1 {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        min-width: 90%
    }

    .line {
        display: none;
    }

    aside img {
        margin: 0% 25% 0% 25%;
        width: 50%;
    }

    footer p{
        text-align: center;
    }
}





/*@media screen and (max-width: 800px) {
    body {
        background-color: #e9e0d7;
        color: #aa1418;
    }

    h1 {
        font-family: "Oswald Bold", Arial, Verdana, sans-serif;
        background-color: black;
        color: #aa1418;
        font-size: xx-large;
        text-transform: uppercase;
        letter-spacing: 1em;
        padding-left: 5px;
        margin: auto;
    }

    .h2black {
        font-family: "Oswald Bold", Arial, Verdana, sans-serif;
        background-color: black;
        color: #aa1418;
        font-size: large;
        text-transform: uppercase;
        letter-spacing: 1em;
        padding-left: 5px;
    }

    .h2red {
        font-family: "Oswald Bold", Arial, Verdana, sans-serif;
        background-color: #aa1418;
        color: black;
        font-size: large;
        text-transform: uppercase;
        letter-spacing: 1em;
        padding-left: 5px;
    }

    ul {
        display: flex;
        justify-content: column;
    }

    li {
        font-family: "Oswald Bold", Arial, Verdana, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1em;
        margin: 20px;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #aa1418;
        font-weight: bold;
    }

    p {
        font-family: "Open Sans Regular", Arial, Verdana, sans-serif;
        color: #aa1418;
        padding: 5px;
        text-align: justify;
    }

    .containers {
        width: auto;
        height: auto;
        border: 10px solid black;
        padding: 5px 5px 1px 5px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
    }

    .article1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section1 {
        border: 10px solid #aa1418;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        min-width: 90%
    }

    .line {
        display: none;
    }

    aside img {
        border: 10px solid #aa1418;
        padding: 5px;
        margin: 0% 25% 0% 25%;
        width: 50%;
    }

    .section2 {
        border: 10px solid black;
        padding: 5px;
        margin: 0px 5px 5px 5px;
    }

    footer {
        font-family: "Oswald Bold", Arial, Verdana, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        margin: 20px;
    }

    footer p {
        text-align: center;
    }
}
*/
