/*Mes couleurs:
bleu marine : #17395c
beige : #e1dcc9
jaune : #efb758
rouge/ocre : #c24229
*/

body {
    background-color: #17395c;
    color: #e1dcc9;
    font-family: Arial, verdana, sans-serif;
    font-size: small;
}

header, footer {
    padding: 30px;
    font-size: small;
}

.att {
    background-color: #c24229;
}

fieldset {
    background-color: #e1dcc9;
    color: #17395c;
    line-height: 25px;
    border: double #efb758;
    padding: 20px;
    margin: 10px;
}

label {
    color: #17395c;
    font-size: small;
}

legend {
    background-color: #efb758;
    color: #17395c;
    font-style: italic;
    font-size: medium;
    border: double #efb758;
    padding: 1px;

}

input, textarea {
    background-color: #c24229;
    color: #e1dcc9
}

.envoyer {
    line-height: 30px;
    padding: 30px;
}

.merci {
    background-color: #c24229;
}
