/*
vert : #517c63
blanc : #f3f0e9
beige : #e7dfcf
ocre : #ab9c81

*/


body {
    background-color: #517c63;
    font-family: verdana, sans-serif;
    display: flex;
}

#page {
    margin: 10%;
}

header {
    background-color: #e7dfcf;
    color:  #e7dfcf;
    font-style: italic;
    font-size: small;
    height: 20px;
    margin-bottom: 10px;
}

article {
    display: flex;
}

section {
    color:  #f3f0e9;
    text-align: justify;
    font-style: italic;
    font-size: small;
    width: 30%;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin: auto;
}

caption {
    caption-side : bottom;
    color: #f3f0e9;
    font-size: small;
    font-style: italic;
    text-justify: center;
    padding-top: 3px;
}

th {
    border: 3px solid #517c63;
    background-color: #e7dfcf;
    color: #517c63;
    font-size: small;
    text-transform: uppercase;
    padding: 10px;
}

td {
    border: 3px solid #517c63;
    background-color: #f3f0e9;
    color: #517c63;
    font-size: small;
    padding: 5px;
}

.nom {
    font-style: italic;
    padding: 5px 20px 5px 20px;
}

em {
    text-decoration: underline;
}

footer {
    background-color: #e7dfcf;
    color:  #e7dfcf;
    font-style: italic;
    font-size: small;
    height: 20px;
}

audio {
    margin: 10px 10px 10px -25px;
}
